In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot

In [76]:
df = pd.read_csv("Smarket.csv")
df

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [77]:
df.isnull()

       Year   Lag1   Lag2   Lag3   Lag4   Lag5  Volume  Today  Direction
0     False  False  False  False  False  False   False  False      False
1     False  False  False  False  False  False   False  False      False
2     False  False  False  False  False  False   False  False      False
3     False  False  False  False  False  False   False  False      False
4     False  False  False  False  False  False   False  False      False
...     ...    ...    ...    ...    ...    ...     ...    ...        ...
1245  False  False  False  False  False  False   False  False      False
1246  False  False  False  False  False  False   False  False      False
1247  False  False  False  False  False  False   False  False      False
1248  False  False  False  False  False  False   False  False      False
1249  False  False  False  False  False  False   False  False      False

[1250 rows x 9 columns]

In [78]:
df["Direction_Binary"] = df["Direction"].apply(lambda x: 1 if x == "Up" else 0)

In [79]:
df = df.drop(columns=["Direction"])

In [80]:
df_new = df.drop("Year", axis=1)
df_new

       Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today  Direction_Binary
0     0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959                 1
1     0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032                 1
2     1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623                 0
3    -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614                 1
4     0.614 -0.623  1.032  0.959  0.381  1.20570  0.213                 1
...     ...    ...    ...    ...    ...      ...    ...               ...
1245  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043                 1
1246  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955                 0
1247 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130                 1
1248  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298                 0
1249 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489                 0

[1250 rows x 8 columns]

In [81]:
df_normal = (df_new-df_new.min())/(df_new.max()-df_new.min())
df_normal

,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today,Direction_Binary
0,0.497701,0.443923,0.215673,0.362928,0.932145,0.298680,0.551947,1.0
1,0.551947,0.497701,0.443923,0.215673,0.362928,0.336300,0.558799,1.0
2,0.558799,0.551947,0.497701,0.443923,0.215673,0.377317,0.403473,0.0
3,0.403473,0.558799,0.551947,0.497701,0.443923,0.328969,0.519568,1.0
4,0.519568,0.403473,0.558799,0.551947,0.497701,0.303830,0.481933,1.0
...,...,...,...,...,...,...,...,...
1245,0.501549,0.485594,0.459690,0.407133,0.435195,0.548001,0.465978,1.0
1246,0.465978,0.501549,0.485594,0.459690,0.407133,0.332477,0.372313,0.0
1247,0.372313,0.465978,0.501549,0.485594,0.459690,0.423545,0.474144,1.0
1248,0.474144,0.372313,0.465978,0.501549,0.485594,0.381308,0.433975,0.0
1249,0.433975,0.474144,0.372313,0.465978,0.501549,0.367068,0.416049,0.0

In [82]:
Y = df_normal[["Direction_Binary"]]
X = df_normal.drop(columns=["Direction_Binary"])

Yarr = Y.to_numpy()
Xarr = X.to_numpy()

print("Shape of Y:", Yarr.shape)
print("Shape of X:", Xarr.shape)

Shape of Y: (1250, 1)
Shape of X: (1250, 7)

In [83]:
def shuffle_and_split_data(X, Y, test_ratio):
    shuffled_indices = np.random.permutation(len(X))
    test_set_size = int(len(X) * test_ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    
    return X[train_indices], X[test_indices], Y[train_indices], Y[test_indices]

Xtrain_set, Xtest_set, Ytrain_set, Ytest_set = shuffle_and_split_data(Xarr, Yarr, 0.25)

In [84]:
print(Xtrain_set.shape)
print(Ytrain_set.shape)
print(Xtest_set.shape)
print(Ytest_set.shape)

(938, 7)
(938, 1)
(312, 7)
(312, 1)

In [85]:
# Sigmoid function
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

# Cost function (Binary Cross-Entropy)
def compute_cost(X, Y, weights):
    m = len(Y)
    z = np.dot(X, weights)
    predictions = sigmoid(z)
    cost = -(1 / m) * np.sum(Y * np.log(predictions) + (1 - Y) * np.log(1 - predictions))
    return cost

# Gradient Descent
def gradient_descent(X, Y, weights, learning_rate, iterations):
    m = len(Y)
    for i in range(iterations):
        # Calculate predictions
        z = np.dot(X, weights)
        predictions = sigmoid(z)

        # Compute gradient
        gradient = (1 / m) * np.dot(X.T, (predictions - Y))

        # Update weights
        weights -= learning_rate * gradient

        # Print cost every 100 iterations
        if i % 100 == 0:
            cost = compute_cost(X, Y, weights)
            print(f"Iteration {i}, Cost: {cost}")
    return weights

In [86]:
def predict(X, weights):
    probabilities = sigmoid(np.dot(X, weights))
    return [1 if prob >= 0.5 else 0 for prob in probabilities]

In [87]:
print(Xtrain_set.shape[1])

7

In [88]:
Ytrain_set = Ytrain_set.ravel()  
Ytest_set = Ytest_set.ravel()

In [89]:
# Initialize weights
weights = np.zeros(Xtrain_set.shape[1])

weights = gradient_descent(Xtrain_set, Ytrain_set, weights, 0.2 , 1000)

Iteration 0, Cost: 0.6926327304021591
Iteration 100, Cost: 0.665833690074266
Iteration 200, Cost: 0.6433271278734549
Iteration 300, Cost: 0.623240084063051
Iteration 400, Cost: 0.6052410182898186
Iteration 500, Cost: 0.5890399627422394
Iteration 600, Cost: 0.5743888001650568
Iteration 700, Cost: 0.5610776920237827
Iteration 800, Cost: 0.5489300589360123
Iteration 900, Cost: 0.5377974240912178

In [90]:
# Test the model
predictions = predict(Xtrain_set, weights)

# Evaluate the model
accuracy = np.mean(predictions == Ytrain_set) * 100
print(f"Training Model Accuracy: {accuracy:.2f}%")

Training Model Accuracy: 86.99%

In [91]:
# Test the model
predictions = predict(Xtest_set, weights)

# Evaluate the model
accuracy = np.mean(predictions == Ytest_set) * 100
print(f"Testing Model Accuracy: {accuracy:.2f}%")

Testing Model Accuracy: 86.54%